<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="inAppBillingDemo.debug" android:versionName="1.0.0" android:versionCode="1">
  <uses-sdk android:targetSdkVersion="15" />
  <uses-sdk android:minSdkVersion="7" />
  <application android:label="inAppBillingDemo">
  </application>
</manifest>